workflows/03 🏷️ AI Transaction Categorizer.json
{
  "name": "03 🏷️ AI Transaction Categorizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "43f9740b-23ca-45cf-a760-77dceec688db",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst thirtyDaysAgo = new Date(now - 30 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\n\n// ── CONFIDENCE THRESHOLDS ─────────────────────────────────────────────────────\n// AUTO_APPLY: Claude's category suggestion is applied automatically\n// AUTO_RULE:  Category applied AND a permanent payee rule is created in Actual\n//             (that payee will never be sent to Claude again)\n// Below AUTO_APPLY: Telegram alert for manual review\nconst AUTO_APPLY_THRESHOLD = 0.85;\nconst AUTO_RULE_THRESHOLD  = 0.95;\n\n// ── CATEGORIES ───────────────────────────────────────────────────────────────\n// HOW TO FILL THIS IN:\n//   1. Run Workflow 00 (Discovery) to get your category IDs\n//   2. Replace each 'GET_FROM_WF00' with the actual ID from Discovery output\n//   3. Update names to match your Actual Budget category names exactly\n//   4. Add or remove rows to match your category setup\n//\n// Names are sent to Claude as context — make them descriptive so Claude\n// can categorize accurately without needing merchant-specific training.\nconst categories = [\n  { id: 'GET_FROM_WF00', name: 'Mortgage or rent payment' },\n  { id: 'GET_FROM_WF00', name: 'Car loan payment' },\n  { id: 'GET_FROM_WF00', name: 'Personal loan payment' },\n  { id: 'GET_FROM_WF00', name: 'Extra debt payment' },\n  { id: 'GET_FROM_WF00', name: 'Emergency fund savings' },\n  { id: 'GET_FROM_WF00', name: 'Internet bill' },\n  { id: 'GET_FROM_WF00', name: 'Gas utility bill' },\n  { id: 'GET_FROM_WF00', name: 'Electric utility bill' },\n  { id: 'GET_FROM_WF00', name: 'Water bill' },\n  { id: 'GET_FROM_WF00', name: 'Cell phone or mobile phone bill' },\n  { id: 'GET_FROM_WF00', name: 'Streaming services subscription' },\n  { id: 'GET_FROM_WF00', name: 'Home improvement or maintenance' },\n  { id: 'GET_FROM_WF00', name: 'Gas station or fuel' },\n  { id: 'GET_FROM_WF00', name: 'Auto insurance premium' },\n  { id: 'GET_FROM_WF00', name: 'Car repair or maintenance' },\n  { id: 'GET_FROM_WF00', name: 'Parking tolls rideshare transit' },\n  { id: 'GET_FROM_WF00', name: 'Groceries supermarket warehouse club' },\n  { id: 'GET_FROM_WF00', name: 'Restaurants fast food coffee shops delivery' },\n  { id: 'GET_FROM_WF00', name: 'Financial advisor or planning fee' },\n  { id: 'GET_FROM_WF00', name: 'Doctor pharmacy medical gym fitness' },\n  { id: 'GET_FROM_WF00', name: 'Haircut salon barber personal grooming' },\n  { id: 'GET_FROM_WF00', name: 'Clothing shoes apparel' },\n  { id: 'GET_FROM_WF00', name: 'Entertainment hobbies events tickets' },\n  { id: 'GET_FROM_WF00', name: 'Gifts for others birthday holiday' },\n  { id: 'GET_FROM_WF00', name: 'Pet food vet grooming supplies' },\n  { id: 'GET_FROM_WF00', name: 'Vacation travel hotel flights' },\n  { id: 'GET_FROM_WF00', name: 'Kids activities school fees sports' },\n  { id: 'GET_FROM_WF00', name: 'Amazon or online shopping' },\n  { id: 'GET_FROM_WF00', name: 'Miscellaneous hard to categorize' },\n];\n\nreturn [{\n  json: {\n    bridgeUrl:        'http://actual-bridge:3788',\n    telegramChatId:   'REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID',\n    categories,\n    AUTO_APPLY_THRESHOLD,\n    AUTO_RULE_THRESHOLD,\n    startDate: thirtyDaysAgo,\n    endDate: today\n  }\n}];"
      },
      "id": "ad320908-df9b-4b3d-a87e-0a9b78ca7416",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        1168
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.bridgeUrl }}/transactions/uncategorized?startDate={{ $json.startDate }}&endDate={{ $json.endDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "id": "5fe26669-a872-4694-856f-0cd164afb24a",
      "name": "Get Uncategorized",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        1168
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "CRED_BRIDGE_ID",
          "name": "Actual Budget Bridge"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.item.json;\nconst config = $('Config').item.json;\nconst txList = res.data || [];\n\nif (txList.length === 0) {\n  return [];\n}\n\n// Filter out anything that shouldn't reach Claude\nconst filtered = txList.filter(tx =>\n  tx.amount < 0 &&\n  !tx.starting_balance_flag &&\n  !tx.transfer_id &&\n  !tx.is_parent\n);\n\nif (filtered.length === 0) {\n  return [];\n}\n\nconst categoryList = config.categories\n  .map(c => c.name)\n  .join('\\n');\n\nreturn filtered.map(tx => ({\n  json: {\n    ...config,\n    transaction: tx,\n    amount: Math.abs(tx.amount) / 100,\n    categoryList\n  }\n}));"
      },
      "id": "1af271db-89ef-4034-b15c-a3a3bceb43db",
      "name": "Filter Uncategorized",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 120, messages: [{ role: 'user', content: 'You are a budget categorization assistant. Categorize each transaction accurately based on the payee name and amount\\n\\nKnown payee patterns — always use these exact categories for these payees:\\n- Payee or notes contains \"AMAZON\" or \"AMZN\" or \"Amazon Mktplace\" → \"Amazon purchase online order\" (confidence: 0.99)\\n- Notes contains \"PAYROLL\"  → \"Salary\" — this is a direct deposit paycheck (confidence: 0.99)\\n- Payee \"DoorDash\" or notes contains \"DOORDASH\" → \"Restaurants fast food coffee shops DoorDash Grubhub\" (confidence: 0.99)\\n- Payee \"Shipt\" or notes contains \"SHIPT\" → \"Groceries Kroger Meijer Costco Aldi\" (confidence: 0.99)\\n- Notes contains \"STATE OF MI\" or \"STATE OF MICH\" → \"Miscellaneous hard to categorize one-off\" (confidence: 0.70 — state tax payment, no dedicated category)\\n- Notes contains \"VENMO\" or \"ZELLE\" → confidence max 0.40 (ambiguous — needs human review)\\n- Notes contains \"SCHWAB\" or \"BROKERAGE\" → confidence max 0.40 (investment transfer — needs human review)\\n\\nTransaction to categorize:\\n- Merchant: ' + ($json.transaction.imported_payee || $json.transaction.payee_name || 'Unknown') + '\\n- Amount: $' + $json.amount.toFixed(2) + '\\n- Date: ' + $json.transaction.date + '\\n- Notes: ' + ($json.transaction.notes || 'none') + '\\n- Account: ' + ($json.transaction.accountName || 'unknown') + '\\n\\nAvailable categories:\\n' + $json.categoryList + '\\n\\nRespond with ONLY a raw JSON object. No markdown, no code fences, no backticks:\\n{\"category\": \"exact category name from list above\", \"confidence\": 0.95, \"reason\": \"one sentence\"}\\n\\nConfidence guide: gas stations=high, utilities=high, known patterns above=0.99, Venmo/Zelle/transfers=low.' }] }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi"
      },
      "id": "e51f1ab0-1fa5-44e6-9f24-26bab6de7e1b",
      "name": "Ask Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        1168
      ],
      "credentials": {
        "anthropicApi": {
          "id": "CRED_ANTHROPICAPI_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const claudeRes = $input.item.json;\nconst txData = $('Filter Uncategorized').item.json;\n\nlet parsed;\ntry {\n  const raw = claudeRes.content && claudeRes.content[0] ? claudeRes.content[0].text : '{}';\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { category: null, confidence: 0, reason: 'Parse error: ' + e.message };\n}\n\nconst matched = txData.categories.find(\n  function(c) { return c.name.toLowerCase() === (parsed.category || '').toLowerCase(); }\n);\n\nreturn {\n  json: {\n    ...txData,\n    suggestedName: parsed.category,\n    suggestedId: matched ? matched.id : null,\n    confidence: parsed.confidence || 0,\n    reason: parsed.reason || ''\n  }\n};"
      },
      "id": "1d55dff0-a9f2-4cdc-a459-96abe270eb79",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-id",
              "leftValue": "={{ $json.suggestedId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "above-threshold",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "={{ $json.AUTO_APPLY_THRESHOLD }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9779d8b4-9cc5-49c6-94d4-10ee0d0a4d88",
      "name": "High Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        1168
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Parse Response').item.json.bridgeUrl }}/transactions/{{ $('Parse Response').item.json.transaction.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ category: $('Parse Response').item.json.suggestedId }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "id": "dcf2020e-8b9e-45b2-ad2b-90d3ea4b48ef",
      "name": "Apply Category",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1104
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "CRED_BRIDGE_ID",
          "name": "Actual Budget Bridge"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "above-rule-threshold",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "={{ $json.AUTO_RULE_THRESHOLD }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "has-payee",
              "leftValue": "={{ $json.transaction.imported_payee }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "270adc08-9687-4665-b0c7-f365fe6076d7",
      "name": "Create Rule?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.bridgeUrl }}/rules",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ payeeName: $json.transaction.imported_payee, categoryId: $json.suggestedId, matchType: 'is' }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "id": "3b686aab-349e-4558-8f8e-bcaf7616b42b",
      "name": "Create Actual Rule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        992
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "CRED_BRIDGE_ID",
          "name": "Actual Budget Bridge"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Parse Response').item.json;\nconst lowConfidence = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const payee = d.transaction.imported_payee || d.transaction.payee_name || 'Unknown';\n  lowConfidence.push(\n    payee + ' — $' + d.amount.toFixed(2) + '\\n' +\n    '  Suggested: ' + (d.suggestedName || 'None') + ' (' + Math.round((d.confidence || 0) * 100) + '%)' + '\\n' +\n    '  Reason: ' + (d.reason || '') + '\\n' +\n    '  Date: ' + d.transaction.date + ' | Acct: ' + (d.transaction.accountName || '')\n  );\n}\n\nif (lowConfidence.length === 0) return [];\n\nconst msg = lowConfidence.length + ' transaction(s) need your review:\\n\\n' +\n  lowConfidence.join('\\n\\n') + '\\n\\n' +\n  'Open Actual to categorize: http://your-actual-budget-url';\n\nreturn [{ json: {\n  telegramChatId: config.telegramChatId,\n  telegramMessage: msg\n} }];"
      },
      "id": "95131c1e-a604-4cae-8cd0-02de9a0f86e1",
      "name": "Batch Low Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1264
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.telegramChatId }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {}
      },
      "id": "cc4e181e-25c8-4d86-8d34-ad4c52b09444",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        208,
        1264
      ],
      "credentials": {
        "telegramApi": {
          "id": "CRED_TELEGRAM_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Uncategorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Uncategorized": {
      "main": [
        [
          {
            "node": "Filter Uncategorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uncategorized": {
      "main": [
        [
          {
            "node": "Ask Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Claude": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "High Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Confidence?": {
      "main": [
        [
          {
            "node": "Create Rule?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Category": {
      "main": [
        []
      ]
    },
    "Create Rule?": {
      "main": [
        [
          {
            "node": "Create Actual Rule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Low Confidence": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Actual Rule": {
      "main": [
        [
          {
            "node": "Apply Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b93181eb-d252-4f57-a2d8-5e8f7cdcd1c5",
  "meta": {
    "instanceId": "1bed0a85a374b293a0ae04ae85d310dadcbdad591ac0a08781d2b9ef5e91b791"
  },
  "id": "1uOv3zFNZSACkrlX",
  "tags": []
}