workflows/06 🧾 Monthly Tax Projection.json
{
  "name": "06 🧾 Monthly Tax Projection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "id": "11f6a768-c374-4828-9616-8ea16c6d97cd",
      "name": "1st of Month 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── CONFIG ───────────────────────────────────────────────────────────────────\nconst now = new Date();\nconst currentYear = now.getFullYear();\nconst currentMonth = now.getMonth() + 1;\n\n// Weeks worked at CCI since April 10, 2026\nconst cciStartDate = new Date('2026-04-10');\nconst weeksWorkedCCI = Math.max(0, Math.floor((now - cciStartDate) / (7 * 24 * 60 * 60 * 1000)));\n\n// Total CCI weeks in 2026 (Apr 10 to Dec 31)\nconst cciTotalWeeks = Math.floor((new Date('2026-12-31') - cciStartDate) / (7 * 24 * 60 * 60 * 1000));\nconst weeksRemaining = Math.max(0, cciTotalWeeks - weeksWorkedCCI);\n\n// Last month label for report\nconst reportMonth = new Date(currentYear, currentMonth - 2, 1)\n  .toLocaleDateString('en-US', { month: 'long', year: 'numeric' });\n\n// ── PHASE DETECTION ──────────────────────────────────────────────────────────\n// Phase 1: Apr 10 – Jun 9   (no 401k, no insurance)\n// Phase 2: Jun 10 – Jul 10  (401k 4% starts)\n// Phase 3: Jul 10+          (full deductions)\nconst phase2Start = new Date('2026-06-10');\nconst phase3Start = new Date('2026-07-10');\nlet activePhase = 1;\nif (now >= phase3Start) activePhase = 3;\nelse if (now >= phase2Start) activePhase = 2;\n\n// ── CCI WEEKLY AMOUNTS BY PHASE ──────────────────────────────────────────────\n// Source: Pay stub Voucher 50608, April 10 2026\n// Update Phase 2/3 amounts when first stub with new deductions arrives\nconst phases = {\n  1: {\n    // Net: $3,351.10 | Gross: $4,538.46 | No 401k, no insurance\n    salary:         4423.08,\n    vehicleAllow:    115.38,\n    federalTax:      656.93,\n    medicare:         65.81,\n    michiganTax:     183.24,\n    socialSecurity:  281.38,\n    k401:              0.00,\n    insurance:         0.00,\n    hsa:               0.00,\n  },\n  2: {\n    // UPDATE these from first stub showing 401k deduction (~June 10)\n    // Est: 401k = 4% of $4,423.08 = $176.92, FITW drops slightly\n    salary:         4423.08,\n    vehicleAllow:    115.38,\n    federalTax:      620.00,  // estimate — update from stub\n    medicare:         65.81,\n    michiganTax:     183.24,\n    socialSecurity:  281.38,\n    k401:            176.92,\n    insurance:         0.00,\n    hsa:               0.00,\n  },\n  3: {\n    // UPDATE these from first full-deduction stub (~July 10)\n    salary:         4423.08,\n    vehicleAllow:    115.38,\n    federalTax:      600.00,  // estimate — update from stub\n    medicare:         65.81,\n    michiganTax:     183.24,\n    socialSecurity:  281.38,\n    k401:            176.92,\n    insurance:        115.00,  // estimate — update from stub\n    hsa:              85.00,   // estimate — update from stub\n  },\n};\n\nconst weekly = phases[activePhase];\n\n// ── CALCULATE CCI YTD ────────────────────────────────────────────────────────\n// For phases with phase transitions, calculate weeks in each phase\nlet cciYTD;\nif (activePhase === 1) {\n  cciYTD = {\n    salary:         weeksWorkedCCI * weekly.salary,\n    vehicleAllow:   weeksWorkedCCI * weekly.vehicleAllow,\n    federalTax:     weeksWorkedCCI * weekly.federalTax,\n    medicare:       weeksWorkedCCI * weekly.medicare,\n    michiganTax:    weeksWorkedCCI * weekly.michiganTax,\n    socialSecurity: weeksWorkedCCI * weekly.socialSecurity,\n    k401:           0,\n    insurance:      0,\n    hsa:            0,\n  };\n} else {\n  // Approximate — more accurate after Phase 1 ends\n  const weeksPhase1 = Math.floor((phase2Start - cciStartDate) / (7 * 24 * 60 * 60 * 1000));\n  const weeksPhase2 = activePhase >= 3\n    ? Math.floor((phase3Start - phase2Start) / (7 * 24 * 60 * 60 * 1000))\n    : weeksWorkedCCI - weeksPhase1;\n  const weeksPhase3 = activePhase >= 3 ? weeksWorkedCCI - weeksPhase1 - weeksPhase2 : 0;\n\n  const p1 = phases[1];\n  const p2 = phases[2];\n  const p3 = phases[3];\n\n  cciYTD = {\n    salary:         weeksPhase1*p1.salary + weeksPhase2*p2.salary + weeksPhase3*p3.salary,\n    vehicleAllow:   weeksPhase1*p1.vehicleAllow + weeksPhase2*p2.vehicleAllow + weeksPhase3*p3.vehicleAllow,\n    federalTax:     weeksPhase1*p1.federalTax + weeksPhase2*p2.federalTax + weeksPhase3*p3.federalTax,\n    medicare:       weeksPhase1*p1.medicare + weeksPhase2*p2.medicare + weeksPhase3*p3.medicare,\n    michiganTax:    weeksPhase1*p1.michiganTax + weeksPhase2*p2.michiganTax + weeksPhase3*p3.michiganTax,\n    socialSecurity: weeksPhase1*p1.socialSecurity + weeksPhase2*p2.socialSecurity + weeksPhase3*p3.socialSecurity,\n    k401:           weeksPhase2*p2.k401 + weeksPhase3*p3.k401,\n    insurance:      weeksPhase3*p3.insurance,\n    hsa:            weeksPhase3*p3.hsa,\n  };\n}\n\n// ── DMS YTD STATIC DATA (never changes) ──────────────────────────────────────\nconst dmsYTD = {\n  grossEarnings:  47642.75,\n  federalWH:       8373.45,\n  michiganWH:      1839.27,\n  socialSecurity:  2857.52,\n  medicare:         668.29,\n  detroitCityWH:    536.96,\n  preTax401k:      1209.12,\n  rothContrib:     1433.27,\n  hsa:              975.00,\n};\n\n// ── COMBINED YTD ─────────────────────────────────────────────────────────────\nconst combinedYTD = {\n  grossEarnings:  dmsYTD.grossEarnings + cciYTD.salary + cciYTD.vehicleAllow,\n  federalWH:      dmsYTD.federalWH + cciYTD.federalTax,\n  michiganWH:     dmsYTD.michiganWH + cciYTD.michiganTax,\n  socialSecurity: dmsYTD.socialSecurity + cciYTD.socialSecurity,\n  medicare:       dmsYTD.medicare + cciYTD.medicare,\n  k401:           dmsYTD.preTax401k + cciYTD.k401,\n  hsa:            dmsYTD.hsa + cciYTD.hsa,\n};\n\n// ── FULL YEAR PROJECTION ──────────────────────────────────────────────────────\n// Project remaining CCI weeks using current phase weekly amounts\nconst cciProjected = {\n  gross:          cciYTD.salary + cciYTD.vehicleAllow + weeksRemaining * (weekly.salary + weekly.vehicleAllow),\n  federalWH:      cciYTD.federalTax + weeksRemaining * weekly.federalTax,\n  michiganWH:     cciYTD.michiganTax + weeksRemaining * weekly.michiganTax,\n  socialSecurity: cciYTD.socialSecurity + weeksRemaining * weekly.socialSecurity,\n  medicare:       cciYTD.medicare + weeksRemaining * weekly.medicare,\n};\n\nconst signOnBonus = 10000; // Gross — received ~May 10 2026\n\nconst koryProjected = {\n  gross:      dmsYTD.grossEarnings + cciProjected.gross + signOnBonus,\n  federalWH:  dmsYTD.federalWH + cciProjected.federalWH,\n  michiganWH: dmsYTD.michiganWH + cciProjected.michiganWH,\n};\n\n// Beth estimates — update when real data available\nconst bethGross   = 135000;\nconst bethFedWH   = 22000;\nconst bethMiWH    =  5400;\n\nconst householdGross  = koryProjected.gross + bethGross;\nconst totalFederalWH  = koryProjected.federalWH + bethFedWH;\nconst totalMichiganWH = koryProjected.michiganWH + bethMiWH;\n\nconst prompt = `You are a tax projection assistant for Kory Gollan, a Michigan resident filing Married Filing Jointly (MFJ) in 2026.\n\nCurrent date: ${now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}\nReport period: ${reportMonth}\nPhase: ${activePhase} (${activePhase === 1 ? 'No 401k/insurance yet' : activePhase === 2 ? '401k started' : 'Full deductions'})\nWeeks at CCI: ${weeksWorkedCCI} of ${cciTotalWeeks} total\n\n## YTD ACTUAL (calculated from known weekly amounts)\n\nDMS/Voltava (Jan 1 – Mar 31, 2026 — FINAL):\n- Gross earnings: $${dmsYTD.grossEarnings.toFixed(2)}\n- Federal withheld: $${dmsYTD.federalWH.toFixed(2)} (filed Single + $100 extra at DMS)\n- Michigan withheld: $${dmsYTD.michiganWH.toFixed(2)}\n- Social Security: $${dmsYTD.socialSecurity.toFixed(2)}\n- Medicare: $${dmsYTD.medicare.toFixed(2)}\n- Detroit City Tax: $${dmsYTD.detroitCityWH.toFixed(2)}\n- Pre-tax 401k: $${dmsYTD.preTax401k.toFixed(2)}\n\nCCI/Commerce Controls (${weeksWorkedCCI} weeks at $${weekly.salary}/wk base):\n- Gross salary: $${cciYTD.salary.toFixed(2)}\n- Vehicle allowance: $${cciYTD.vehicleAllow.toFixed(2)}\n- Federal withheld: $${cciYTD.federalTax.toFixed(2)} (M + $50 extra/week)\n- Michigan withheld: $${cciYTD.michiganTax.toFixed(2)}\n- Social Security: $${cciYTD.socialSecurity.toFixed(2)}\n- Medicare: $${cciYTD.medicare.toFixed(2)}\n- 401k: $${cciYTD.k401.toFixed(2)}\n- Sign-on bonus (gross): $10,000 received ~May 2026\n\nBeth (estimate — actual data not yet available):\n- Annual salary: ~$135,000\n- Est. federal withheld: ~$22,000\n- Est. Michigan withheld: ~$5,400\n\n## FULL YEAR 2026 PROJECTION\n\nKory projected:\n- Total gross: $${koryProjected.gross.toFixed(0)}\n- Total federal withheld: $${koryProjected.federalWH.toFixed(0)}\n- Total Michigan withheld: $${koryProjected.michiganWH.toFixed(0)}\n\nCombined household:\n- Total gross: $${householdGross.toFixed(0)}\n- Total federal withheld: $${totalFederalWH.toFixed(0)}\n- Total Michigan withheld: $${totalMichiganWH.toFixed(0)}\n\n## NOTES\n- Filing: MFJ\n- Standard deduction 2026 (est.): ~$30,000\n- SS wage base 2026: ~$176,100\n- Detroit City Tax: $${dmsYTD.detroitCityWH.toFixed(2)} already withheld — DMS only, no city tax at CCI (Novi)\n- CCI W-4: M + $50 extra/week — may be insufficient\n- Kory Q1 2027 bonus (~$92k gross) NOT included — may fall in tax year 2027\n\nProvide:\n1. Estimated 2026 federal tax liability (use 2025 MFJ brackets adjusted for inflation)\n2. Projected federal over/underpayment\n3. Michigan state tax liability and over/underpayment\n4. SS wage base analysis\n5. Specific W-4 recommendation: additional weekly withholding to close gap by Dec 31\n6. Key flags for CPA\n\nBe direct and specific. Dollar amounts. Note Beth data is estimated. Under 350 words.`;\n\nreturn [{\n  json: {\n    anthropicApiKey: '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',\n    telegramBotToken: '8634364235:AAF1NgjnXdkFvcuv4uxZF36xtM9ySunrtLA',\n    telegramChatId: '7652111268',\n    reportMonth,\n    activePhase,\n    weeksWorkedCCI,\n    dmsYTD,\n    cciYTD,\n    combinedYTD,\n    koryProjected,\n    householdGross,\n    totalFederalWH,\n    totalMichiganWH,\n    prompt,\n  }\n}];"
      },
      "id": "c875ee69-1493-43b5-ba38-60016e6ede3b",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 600, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "9c0f1df1-41e0-49fc-99b6-af5e63c679e7",
      "name": "Ask Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeRes = $input.item.json;\nconst config = $('Config').item.json;\n\nconst analysis = claudeRes.content && claudeRes.content[0]\n  ? claudeRes.content[0].text\n  : 'Unable to generate analysis.';\n\nconst { combinedYTD, koryProjected, householdGross, totalFederalWH, totalMichiganWH, weeksWorkedCCI, cciYTD, dmsYTD, activePhase } = config;\n\nlet msg = 'TAX PROJECTION — ' + config.reportMonth + '\\n';\nmsg += '(' + weeksWorkedCCI + ' weeks of CCI data, Phase ' + activePhase + ')\\n\\n';\n\nmsg += '--- YTD COMBINED (DMS + CCI) ---\\n';\nmsg += 'Gross earnings:   $' + combinedYTD.grossEarnings.toFixed(0) + '\\n';\nmsg += 'Federal withheld: $' + combinedYTD.federalWH.toFixed(0) + '\\n';\nmsg += 'Michigan:         $' + combinedYTD.michiganWH.toFixed(0) + '\\n';\nmsg += 'Social Security:  $' + combinedYTD.socialSecurity.toFixed(0) + '\\n';\nmsg += 'Medicare:         $' + combinedYTD.medicare.toFixed(0) + '\\n';\nmsg += 'Detroit City:     $' + dmsYTD.detroitCityWH.toFixed(0) + ' (DMS only, done)\\n\\n';\n\nmsg += '--- FULL YEAR PROJECTION ---\\n';\nmsg += 'Kory gross:       $' + koryProjected.gross.toFixed(0) + '\\n';\nmsg += 'Household gross:  $' + householdGross.toFixed(0) + ' (incl. Beth est.)\\n';\nmsg += 'Total fed WH:     $' + totalFederalWH.toFixed(0) + '\\n';\nmsg += 'Total MI WH:      $' + totalMichiganWH.toFixed(0) + '\\n\\n';\n\nmsg += '--- CLAUDE ANALYSIS ---\\n';\nmsg += analysis;\n\nmsg += '\\n\\nPaycheck ref: notion.so/341a962387d18163bd4fc4c7b9cbdf55';\n\nreturn [{ json: {\n  telegramBotToken: config.telegramBotToken,\n  telegramChatId: config.telegramChatId,\n  telegramMessage: msg\n} }];"
      },
      "id": "2866ef15-dd46-4ac0-b742-7020b9fa0ed7",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.telegramBotToken }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegramChatId, text: $json.telegramMessage }) }}",
        "options": {}
      },
      "id": "ce7ea322-31b4-49ea-95ea-a2452ed6f084",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "1st of Month 8am": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Ask Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Claude": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "94adcfb4-1b96-48b0-9d9f-1744ede2d8da",
  "meta": {
    "instanceId": "1bed0a85a374b293a0ae04ae85d310dadcbdad591ac0a08781d2b9ef5e91b791"
  },
  "id": "Dcnn9Z9TOLMtUgBI",
  "tags": []
}